@use 'variables' as var;

h1, h2, h3, h4, h5, h6 {
  font-family: var.$font-family-headings;
  color: var.$text-light;
  margin-top: var.$spacing-md;
  margin-bottom: var.$spacing-sm;
  line-height: 1.2;
}

h1 { font-size: var.$font-size-h1; }
h2 { font-size: var.$font-size-h2; }
h3 { font-size: var.$font-size-h3; }
h4 { font-size: var.$font-size-xl; }
h5 { font-size: var.$font-size-md; }
h6 { font-size: var.$font-size-base; }

p {
  margin-bottom: var.$spacing-md;
}

ul, ol {
  margin-bottom: var.$spacing-md;
  padding-left: var.$spacing-lg;
}