<header class="app-header">
  <div class="navbar-floating" [class.hidden]="isMenuEffectivelyHidden">
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="nav-button">Inicio</a>

    <a [routerLink]="['/about']" routerLinkActive="active" class="nav-button">Sobre Mí</a>

    <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-button">Proyectos</a>

    <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-button">Contacto
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>

  <button class="toggle-button" (click)="toggleMenu()" [class.visible]="isMenuEffectivelyHidden">
    <i class="fa-solid fa-chevron-up"></i>
  </button>
</header>