* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Configuración del HTML y BODY */
html, body {
  width: 100%;
  overflow-x: hidden; 

}

/* Configuración de la raíz de la aplicación Angular */
app-root {
  display: flex; 
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
}

@view-transition{
  navigation:auto;
}

::view-transition-group(*){
  animation-duration: 0.5s;
}